body{
font-family: Georgia, 'Times New Roman', Times, serif;
border:1px solid black;
}

img{
width: 25px;
}

header{
text-align:center;
}

/* desktop layout */

@media (min-width: 800px){

main{
display:flex;
gap
